body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #ddd;
}

* {
    margin: 0;
    padding: 0;
}

#app {
    background: #ece0cb;
    max-width: 700px;
    margin: auto;
    padding: 20px;
}


h1 {
    text-align: center;
    border-bottom: 3px solid #333;
}

input {
    width: 600px;
    font-size: 20px;
    line-height: 30px;
    border-radius: 5px;
    margin: 5px 0;
    border-width: 0;
}

.inputText button {
    width: 90px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    background: #e4e3ce;
    border: 1px solid #ccc;
}
.option{
	width: 480px;
	margin: auto;
	
}
.option button {
    width: 110px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    background: #e4e3ce;
    border: 1px solid #ccc;
    display: inline-block;
    margin: 0 20px;
}
.content input{
	width: 30px;

}
.content li{
	list-style: none;
	font-size: 20px;
}
.content a{
	text-decoration: none;
	display: inline-block;
	float: right;
    margin: 0 5px;
}
.text input{
	width: 700px;
}

button:hover{
    background: #ddc2ab;
}
button:active{
    color: #fff;
}
.complete{
    text-decoration: line-through;
}
.active{
    color: #fff;
}
.message{
    background-color: #dcbfbd;
    height: 40px;
    position: relative;
}
.message p{
    color: #333; 
    font-size: 20px;
    position: absolute;
    top: 5px;
    text-indent: 2rem;

}
.message button{
    width: 100px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    background: #e4e3ce;
    border: 1px solid #ccc;
    position: absolute;
    right: 20px;
    top: 5px;

}
.usemessage{
    background: #ddd;
    border: 1px dashed #000;
}
.usemessage h4{
    text-align: center;
}




